<div class="container">
<form class="form">
    Passenger
    <br>
    <input type="text" name="passenger" placeholder="Rajinikanth">
    <br>
    Minutes
    <br>
    <input type="text" name="minutes" placeholder="10" required>
    <br>
    Miles
    <br>
    <input type="text" name="miles" placeholder="2" required>
    <br>
    Date
    <br>
    <input type="date" name="fare_date" id="fare_date"
    value="2020-06-20" min="2020-06-17" max="2020-12-31" required>
    <br>
    Start Time
    <br>
    <input type="time" id="start_time" name="start_time" required>              
    <br>
    <input type="submit" value="Submit" class="btn">
    
    </form>
</div>