<div class="container">
<form class="form">
    Passenger
    <input type="text" name="passenger" value="Rajinikanth" required>

    Minutes     
    <input type="number" name="minutes" placeholder="10" min="0" required appValidateInput>
    
    Miles
    <input type="number" name="miles" placeholder="2" min="0" required appValidateInput>
    
    Date
    <input type="date" name="fare_date" id="fare_date"
    value="2020-06-20" min="2020-06-17" max="2020-12-31" required>
    
    Start Time
    <input type="time" name="start_time" id="start_time" 
    value="10:45" required>              
    
    <input type="submit" value="Calculate" class="btn">
    
    </form>

    <br>
    <button type="button" name="show"  (click)="getTaxiRides()" class="btn"> List fares</button> 

    <div class="content">
        <div *ngIf="taxiRides" class="table-center">
        <table>
          <!-- <thead>
            <tr>
              <th>Name</th>
              <th>Genre</th>
              <th>Director</th>
            </tr>
          </thead> -->
          <tbody>
            <tr *ngFor='let taxiRide of taxiRides'>
              <td>{{taxiRide?.inNY}}</td>
              <td>{{taxiRide?.minutes}}</td>
              <td>{{taxiRide?.miles}}</td>
              <td>{{taxiRide?.date}}</td>
            </tr>
          </tbody>
        </table>
     </div>         
      </div>    
</div>